:root {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
}
